# Django settings
*.pyc
*.pyo
*.pyd
db.sqlite3
__pycache__

# Static files
staticfiles/

# Media files
media/

# Ignore development-specific settings
local_settings.py

# Ignore production-specific settings
settings.py

# Ignore the virtual environment
venv/
my_env/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
